[Unit]
Description=Daily Log2Ram writing activities
After=log2ram.service
Documentation=https://github.com/azlux/log2ram

[Service]
ExecStart=/bin/systemctl reload log2ram.service
