[Unit]
Description=Log2Ram

[Service]
ExecStart= /usr/local/bin/log2ram start
ExecStop= /usr/local/bin/log2ram stop
ExecReload= /usr/local/bin/log2ram write

Before=syslog.target mysql.service fail2ban.service nginx.service rsyslog.service

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
