Package: log2ram
Version: 1.4.2
Section: net
Priority: optional
Architecture: all
Maintainer: Azlux <github@azlux.fr>
Description: ramlog like for systemd (Put log into a ram folder)
Homepage: https://github.com/azlux/log2ram
Bugs: https://github.com/azlux/log2ram/issues
